/* OUTER BOX */
.profileWrapper {
    text-align: center;
    display: block;
}

/* BANNER BAR */
.headerContainer {
    background: #FFC75F;
    padding: .5em;
    margin-top: 0;
    border-bottom-style: solid;
    border-bottom-color: #E7B355;
}

.headerContainer img {
    width: 10%;
}

/* HEAD BAR - BACK BUTTON */
.backButton {
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    float: left;
    outline: none;
}

#icon:hover {
    background-color: white;
    padding: .5em;
    border-radius: 1.5em;
    color: #845EC2;
}

#icon {
    background-color: #845EC2;
    padding: .5em;
    border-radius: 1.5em;
    color: white;
}

/* HEAD BAR - LOGO IMG AND TEXT */
.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 43%;
}

.bannerText {
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: lighter;
    color: white;
    margin: 0;
    padding-left: .5em;
    font-size: 1.5em;
}

/* PROFILE HEADER - NAME */
.profileNameContainer {
    background-color: #FFC75F;
}

.profileNameText {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: lighter;
    font-size: 2.5em;
    margin: 0;
    padding: .7em;
    color: white;
}

/* TRANSLATION HISTORY BOX - BACKGROUND (BEHIND THE BOX) */
.translationContainer {
    background: linear-gradient(180deg, #FFC75F 50%, white 50%);
}

/* TRANSLATION HISTORY BOX */
.itemContainer {
    width: 60%;
    margin-left: 20%;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
    background-color: white;
}

/* TRANSLATION HISTORY BOX - PURPLE FOOTER */
.itemContainerFooter {
    width: 60%;
    margin-left: 20%;
    border-radius: 0 0 25px 25px;
    overflow: hidden;
    background: #845EC2;
}

/* TRANSLATION HISTORY - HEADER */
.itemContainerHeaderText {
    font-family: Sanchez, sans-serif;
    font-weight: lighter;
    padding-top: 0.15em;
    margin-top: 0;
}

/* LOGOUT BUTTON */
.returnButton {
    padding: 15px;
    border-radius: 20px;
    width: 33%;
    background: #FFC75F;
    color: white;
    font-family: Sanchez, sans-serif;
    font-size: 2em;
    outline: none;
    border-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.returnButton:hover {
    background: white;
    color: black;
    border-style: solid;
    border-color: red;
}