/* TRANSLATED ELEMENTS */
.profileItem {
    text-align: center;
    font-family: 'Sanchez', serif;
    font-size: 1.5em;
    padding: .5em .5em .5em .5em;
    border-radius: 15px;
    display: block;
}