/**
    SITE WRAPPER
 */

.translateWrapper {
    text-align: center;
    display: block;
}


/**
    HEADER WRAPPER
 */

.headerWrapper {
    background: #FFC75F;
    padding: .5em;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom-style: solid;
    border-bottom-color: #E7B355;
    color: white;
}

/**
    HEADER LOGO AND TEXT
 */

.logoContainer {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    font-family: 'Love Ya Like A Sister', cursive;
}

.logoImage {
    width: 27%;
    margin-right: .6em;
}


/**
    PROFILE BUTTON
 */

.profileButton {
    margin-top: 15%;
    background-color: transparent;
    color: white;
    outline: none;
    border-color: transparent;
}

.profileButton:hover {
    background: transparent;
}

#iconButton {
    background-color: white;
    color: #E7B355;
    font-size: 4em;
    border-radius: 2em;
}
#iconButton:hover {
    outline: none;
    background-color: #E7B355;
    color: white;
    font-size: 4em;
    border-radius: 2em;
}

/**
    INPUT FIELD
 */

.inputWrapper {
    padding: 2em;
    display: flex;
    justify-content: center;
    height: 100%;
    background: #FFC75F;
}

.inputField {
    width: 25%;
    padding: .5em;
    font-size: 2em;
    font-family: Sanchez, sans-serif;
    border-radius: 25px 0 0 25px;
    outline: none;
    border-style: solid;
    border-color: white;
}

/**
    INPUT SUBMIT BUTTON
 */


.inputButton {
    background: #845EC2;
    color: white;
    border-radius: 0 25px 25px 0;
    outline: none;
    border-style: solid;
    border-color: #845EC2;
}

.inputButton:hover {
    background: white;
    color: #845EC2;
}

#materialIcon {
    font-size: 3em;
}

/**
    OUTPUT CONTAINER
 */


.translateContainer {
    background: linear-gradient(180deg, #FFC75F 50%, white 50%);
}

/**
    TRANSLATED CONTAINER
 */

.imageWrapper {
    width: 50%;
    margin: 0 0 0 25%;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
    min-height: 10em;
    background-color: white;
}

/**
    TRANSLATED FOOTER
 */

.imageFooter {
    font-family: Sanchez, cursive;
    width: 50%;
    margin-left: 25%;
    border-radius: 0 0 25px 25px;
    overflow: hidden;
    background: #845EC2;
}

.imageFooter p {
    margin: .5em 70% .5em 0;
    color: white;
}

/**
    TRANSLATED IMAGES
 */

.signImages {
    width: 10%;
}