/* OUTER BOX */
.container {
    text-align: center;
    justify-content: center;
    padding-bottom: -2em;
}

.container img {
    width: 180px;
    height: auto;
}

/* BANNER */
.bannerContainer {
    background-color: #FFC75F;
    border-bottom-style: solid;
    border-bottom-color: #E7B355;
    padding: .5em;
    margin-top: 0;
}

.bannerText {
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: lighter;
    text-align: left;
    color: white;
    margin: 0;
    padding: .5em 0 .5em 8em;
}

/* HEADER TEXT AND LOGO */
.headerContainer {
    background-color: #FFC75F;
    display: flex;
    justify-content: center;
    padding: 1.5em 0 1.5em 0;
}

.headerTextContainer {
    display: block;
    margin: 2em 0 0 1.5em;
}

.headerH1 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: lighter;
    text-align: left;
    color: white;
    padding: 0;
    margin-bottom: 0;
}

.headerH2 {
    color: white;
    font-family: 'Sanchez', cursive;
    font-weight: lighter;
    text-align: left;
    margin-top: 0;
}

/* INPUT CONTAINER/BOX - BACKGROUND (BEHIND THE BOX) */
.formContainer {
    background: linear-gradient(180deg, #FFC75F 50%, white 50%);
}

/* INPUT CONTAINER/BOX */
.inputContainer {
    background-color: white;
    width: 50%;
    justify-content: center;
    margin-left: 25%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 0;
}

/* INPUT FIELD */
.inputField {
    font-family: 'Sanchez', serif;
    font-weight: lighter;
    text-align: left;
    border-radius: 20px;
    outline: none;

    margin: 1em;
    width: 60%;
    font-size: 1.5em;
    color: #969696;
    background-color: #EFEFEF;
    border-style: solid;
    padding: 3px;
}

/* SUBMIT BUTTON */
#arrowButton {
    padding: .2em;
    background-color: #845EC2;
    color: white;
    border-radius: 2em;
    border-color: transparent;
    outline: none;
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 1em;
}

#arrowButton:hover {
    padding: .2em;
    background-color: white;
    border-radius: 2em;
    color: #845EC2;
    border-color: #845EC2;
}

/* INPUT CONTAINER FOOTER - PURPLE THING */
.footerContainer {
    background-color: #845EC2;
    padding: 0.5em;
    width: auto;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 0 0 15px 15px;
}